@model StudentLoginReg.Models.Entities.StudentManagement

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                    <h1>Edit Student</h1>
                    @if (Model is null)
                    {
                        <p>Student Not found</p>
                    }
                    else
                    {

                        <form method="post">
                            <div class="mt3">
                                <label class="form-label">Id</label>
                                <input type="text" class="form-control" asp-for="Id" readonly />
                            </div>
                            <div class="mt3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" asp-for="Name" />
                            </div>
                            <div class="mt3">
                                <label class="form-label">Surname</label>
                                <input type="text" class="form-control" asp-for="Surname" />
                            </div>
                            <div class="mt3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" asp-for="Email" />
                            </div>
                            <div class="mt3">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" asp-for="Phone" />
                            </div>


                            <div class="mt3">
                                <input type="checkbox" class="form-control-input" id="Subscribed" asp-for="Subscribed" />
                                <label class="form-check-label" for="Subscribed">Subscribed</label>
                            </div>

                            <div class="mt-3">
                                <button type="submit" class="btn btn-success btn-lg w-10 p-2">Save</button>
                                <button type="submit" class="btn btn-danger btn-lg w-10 p-2" asp-action="Delete" asp-controller="StudentManagement">Delet</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
</section>